.boxcenter{
    width:70%;
    margin: 0 auto;
}
.boxcenter>img{
    width:100%;
}
.boxleft{
    float:left;
    width:calc(70% - 20px);
    
    min-height: 600px;
    margin-right: 20px;
}
.boxleft img{
    float:left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.boxright{
    float:left;
    width:30%;
    
    min-height: 600px;
}
.boxright img{
    width:100%;
}
hr{
    clear: both;
}
a{
   font-size: 16pt;
   color: #00f;
   text-decoration: none; 
   padding: 0;
}
span{
    font-size:12pt;
    color: #666;
}
p{
    font-size: 10pt;
    text-align:justify;
    padding: 0 10px;
    margin: 10px;
}
.menu{
    padding: auto;
    width:100%;
    height:150px;
    border:1px solid #999;
}
form{
    position: static;
    right: 20px;
    border:1px solid rgb(245, 242, 242);
    width:10%;
    margin-left: auto;
    margin-right: auto;
}
.menu a{
    text-decoration: none;
    font-size: 16pt;
    color: black;
    padding: 0 10px;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    float:left;
}
.menu ul li a{
    margin: 0 20px;
    font-size: 16pt;
    font-variant: small-caps;
}
.menu ul li a:hover{
    color: #f00;
}

.menu ul li ul li{
    float:none;
    margin: 10px 0;
}
.menu ul li ul{
    padding: 0;
    display: none;
    position: absolute;
}
.menu ul li:hover ul{
    display: block;
    background-color: rgb(240, 137, 137);
    color: aliceblue;
}

.footer{
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    border:1px solid #999;
    position: absolute;
}
.footer a{
    text-decoration: none;
    font-size: 16pt;
    color: black;
    padding: 0 10px;
}
.footer ul li{
    float:left;
}
.footer ul li a{
    margin: 0 20px;
    font-size: 15pt;
    font-variant: small-caps;
}
.footer ul li a:hover{
    color: #f00;
}
.footer ul li ul li{
    float:none;
    margin: 10px 0;
}
.footer .bottom p{
    position: absolute;
    right: 20px;
    border:1px solid rgb(19, 18, 18);
    width:10%;
    margin-left: auto;
    margin-right: auto;
}
.bottom p a img{
    width: 20px;
}